<a href="https://colab.research.google.com/github/shubhamksingh1/RecommendationEngine/blob/main/CollaborativeFiltering/Perspective/KNN/Test_Collaborative_User_Based_KNN_MatrixFactorization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import pickle

# Reading Files

In [ ]:
df = pd.read_pickle("/content/drive/MyDrive/Collaborative_Recommendation/MatrixFactorization/rating_without_zero_v1.pkl")

model_knn = pickle.load(open("/content/drive/MyDrive/Collaborative_Recommendation/MatrixFactorization/model_knn.pkl", "rb" ) )

df_matrix = pickle.load(open("/content/drive/MyDrive/Collaborative_Recommendation/MatrixFactorization/uid_asset_mat.pkl", "rb" ) )
df2 = pd.read_pickle("/content/drive/MyDrive/Collaborative_Recommendation/MatrixFactorization/user_mean_rating.pkl")

inddict = pickle.load(open("/content/drive/MyDrive/Collaborative_Recommendation/MatrixFactorization/inddict.pkl", "rb" ) )

ds = pd.read_pickle("/content/drive/MyDrive/Collaborative_Recommendation/MatrixFactorization/recommendation_v4.pkl")

# Function Definition

In [ ]:
def find_similar_users(index):
    distances, indices = model_knn.kneighbors(df_matrix.iloc[index, :].values.reshape(1, -1), n_neighbors = 21)
    similarities = 1 - distances.flatten() #Converting to 1-Dimention and increasing score for nearer users
    
    return similarities, indices

In [ ]:
def predict_rating(user_id, asset_id):
    unique_users = list(set(df['uid'].values))
    user_index = unique_users.index(user_id)
    unique_assets = list(set(df['asset_id'].values))
    asset_index = unique_assets.index(asset_id)
    similarities, indices = find_similar_users(user_index)
    mean_rating = df2['Mean_Rating'][user_index]
    #mean_rating = df_matrix.iloc[user_index,:].mean()
    sum_wt = np.sum(similarities) - 1
    weighted_sum = 0
    prediction = 0
    for i in range(0, len(indices.flatten())):
        if indices.flatten()[i] == user_index:
            continue;
        elif (df_matrix.iloc[indices.flatten()[i],asset_index]) != 0:
            j = indices.flatten()[i] 
            ratings_diff = df_matrix.iloc[j, asset_index] - df2['Mean_Rating'][j]#np.mean(df_matrix.iloc[indices.flatten()[i],:])
            product = ratings_diff * (similarities[i])
            weighted_sum = weighted_sum + product
    prediction = mean_rating + (weighted_sum/sum_wt)
    
    return prediction

In [ ]:
def get_recommendations(user_id, n):
    n = n + 1
    assets = []
    ratings = []
    unique_assets = list(set(df['asset_id'].values))
    asset_rated_by_user = df.loc[df['uid'] == user_id, 'asset_id'] # Assets of which user 'user_id' already rated
    if len(asset_rated_by_user) >= 3:
        assets_to_pred = np.setdiff1d(unique_assets, asset_rated_by_user) # Remove assets that 'user_id' has rated from list of all assets
        for i in assets_to_pred:
            asset_rating = predict_rating(user_id, i) 
            ratings.append(asset_rating)
        pred_ratings = np.array(ratings)
        indices = pred_ratings.argsort()[:-n:-1]
        for i in indices:
            assets.append(assets_to_pred[i])
        iids = [inddict[asset_id] for asset_id in assets]
        ds2 = ds.loc[:, ['asset_id', 'asset_title', 'asset_description', 'Domain']]
        return ds2.iloc[iids]
    else:
        return 'User has rated less than 3 articles'

# Get Recommendation

Users      Domain
*   1 - 12 :CX
*   13 - 24 : Agile
*   25 - 36 : AI
*   37 - 48 : IOT
*   49 - 60 : BigData
*   61 - 72 : Cloud
*   73 - 84 : HR
*   85 - 100 : Industry

In [ ]:
ds.Domain.value_counts()

Industry    21
CX          19
Agile       10
AI           8
Cloud        7
IOT          6
BigData      6
HR           5
Name: Domain, dtype: int64

In [ ]:
get_recommendations(1, 5)

    asset_id  ... Domain
0          1  ...     CX
13        14  ...     CX
71        74  ...     CX
40        41  ...    IOT
39        40  ...  Cloud

[5 rows x 4 columns]

In [ ]:
get_recommendations(14, 5)

    asset_id  ...    Domain
62        65  ...     Agile
1          2  ...     Agile
81        85  ...        HR
25        26  ...  Industry
19        20  ...        CX

[5 rows x 4 columns]

In [ ]:
get_recommendations(28, 5)

    asset_id  ... Domain
57        59  ...     AI
66        69  ...     AI
81        85  ...     HR
21        22  ...     CX
23        24  ...  Cloud

[5 rows x 4 columns]

In [ ]:
get_recommendations(47,5)

    asset_id  ... Domain
3          4  ...    IOT
81        85  ...     HR
29        30  ...  Agile
22        23  ...     CX
23        24  ...  Cloud

[5 rows x 4 columns]

In [ ]:
get_recommendations(55,5)

    asset_id  ...   Domain
54        55  ...  BigData
81        85  ...       HR
29        30  ...    Agile
23        24  ...    Cloud
24        25  ...       CX

[5 rows x 4 columns]

In [ ]:
get_recommendations(63,5)

    asset_id  ... Domain
23        24  ...  Cloud
81        85  ...     HR
29        30  ...  Agile
21        22  ...     CX
22        23  ...     CX

[5 rows x 4 columns]

In [ ]:
get_recommendations(74,5)

    asset_id  ... Domain
81        85  ...     HR
30        31  ...  Agile
22        23  ...     CX
23        24  ...  Cloud
24        25  ...     CX

[5 rows x 4 columns]

In [ ]:
get_recommendations(80,5)

    asset_id  ... Domain
81        85  ...     HR
28        29  ...     HR
29        30  ...  Agile
22        23  ...     CX
23        24  ...  Cloud

[5 rows x 4 columns]

In [ ]:
get_recommendations(83,5)

'User has rated less than 3 articles'

In [ ]:
get_recommendations(95,5)

    asset_id  ...    Domain
64        67  ...  Industry
55        56  ...  Industry
79        83  ...  Industry
38        39  ...  Industry
51        52  ...  Industry

[5 rows x 4 columns]