<a href="https://colab.research.google.com/github/shubhamksingh1/RecommendationEngine/blob/main/CollaborativeFiltering/Perspective/RatingCreation/Dummy_Ratings_PERSPECTIVE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_reco = pd.read_csv("/content/drive/MyDrive/Content_Recommendation/recommendation_v3.csv")

In [ ]:
df_reco.shape

(82, 7)

In [ ]:
df_reco.head()

   asset_id  ...                              asset_title_cleaned
0         1  ...         ascent smarter faster lighter enterprise
1         2  ...                          agile day truly arrived
2         3  ...                            riding cognitive wave
3         4  ...        using iot data understand product perform
4         5  ...  view inside take customer experience revolution

[5 rows x 7 columns]

In [ ]:
df_reco.tail()

    asset_id  ...                                asset_title_cleaned
77        80  ...  tc cmo study retailer digitally personalizing ...
78        81  ...  tc cmo study travel transportation hospitality...
79        83  ...  tc cmo study stage conversion personalizing co...
80        84  ...  employee wellness analysis creating data drive...
81        85  ...    emotional wellbeing employee top priority covid

[5 rows x 7 columns]

In [ ]:
df_reco.asset_id.unique(),len(df_reco.asset_id.unique())

(array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
        35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
        52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70,
        71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85]), 82)

In [ ]:
# Distinct domain :
# 1.HR
# 2.CX
# 3.Agile
# 4.AI
# 5.IOT
# 6.BigData
# 7.Cloud
# 8.Industry

In [ ]:
domain= ['CX','Agile','AI','IOT','CX','BigData','AI','BigData','CX','Cloud',
         'HR','CX','AI','CX','CX','CX','CX','CX','IOT','CX',
         'Industry','CX','CX','Cloud','CX','Industry','Cloud','Industry','HR','Agile',
         'Agile','Industry','Agile','Agile','Agile','Agile','Agile','AI','Industry','Cloud',
         'IOT','AI','Agile','IOT','HR','Industry','BigData','Industry','CX','IOT',
         'Industry','Industry','Industry','AI','BigData','Industry','CX','AI','Cloud','BigData',
         'Industry','Industry','Agile','BigData','Industry','Industry','AI','CX','CX','Cloud',
         'Cloud','CX','IOT','CX','Industry','Industry','Industry','Industry','Industry','Industry',
         'HR','HR']

In [ ]:
len(domain)

82

In [ ]:
set(domain)

{'AI', 'Agile', 'BigData', 'CX', 'Cloud', 'HR', 'IOT', 'Industry'}

In [ ]:
df_reco

    asset_id  ...                                asset_title_cleaned
0          1  ...           ascent smarter faster lighter enterprise
1          2  ...                            agile day truly arrived
2          3  ...                              riding cognitive wave
3          4  ...          using iot data understand product perform
4          5  ...    view inside take customer experience revolution
..       ...  ...                                                ...
77        80  ...  tc cmo study retailer digitally personalizing ...
78        81  ...  tc cmo study travel transportation hospitality...
79        83  ...  tc cmo study stage conversion personalizing co...
80        84  ...  employee wellness analysis creating data drive...
81        85  ...    emotional wellbeing employee top priority covid

[82 rows x 7 columns]

In [ ]:
df_reco['Domain']= domain

In [ ]:
df_reco[['asset_id','asset_title','Domain']]

    asset_id                                        asset_title    Domain
0          1  the ascent of the smarter faster lighter enter...        CX
1          2                      agile s day has truly arrived     Agile
2          3                          riding the cognitive wave        AI
3          4  using iot data to understand how your products...       IOT
4          5  the view inside our take on the customer exper...        CX
..       ...                                                ...       ...
77        80  tcs cmo study how retailers are digitally pers...  Industry
78        81  tcs cmo study how travel transportation and ho...  Industry
79        83  tcs cmo study stage conversion personalizing c...  Industry
80        84  employee wellness analysis creating data drive...        HR
81        85  why the emotional wellbeing of your employees ...        HR

[82 rows x 3 columns]

In [ ]:
df_reco.to_csv("/content/drive/MyDrive/Collaborative_Recommendation/recommendation_v4.csv",index=False)

In [ ]:
df_reco

    asset_id  ...    Domain
0          1  ...        CX
1          2  ...     Agile
2          3  ...        AI
3          4  ...       IOT
4          5  ...        CX
..       ...  ...       ...
77        80  ...  Industry
78        81  ...  Industry
79        83  ...  Industry
80        84  ...        HR
81        85  ...        HR

[82 rows x 8 columns]

## Let Total User Be 100 
We will divide these into 8 Categories as per domain derived
User Domain


*   1 - 12 :CX
*   13 - 24 : Agile
*   25 - 36 : AI
*   37 - 48 : IOT
*   49 - 60 : BigData
*   61 - 72 : Cloud
*   73 - 84 : HR
*   85 - 100 : Industry

In [ ]:
df_reco['Domain'].unique()

array(['CX', 'Agile', 'AI', 'IOT', 'BigData', 'Cloud', 'HR', 'Industry'],
      dtype=object)

In [ ]:
def make_full_user_list(l_user,l_asset):
    test_list = []

    for i in l_user:
        for j in range(len(l_asset)):
            test_list.append(i)
    return test_list

### CX

In [ ]:
cx_asset = list(df_reco.asset_id[df_reco.Domain=='CX'])

In [ ]:
print(cx_asset)

[1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76]

In [ ]:
len(cx_asset)

19

In [ ]:
cx_user = [1,2,3,4,5,6,7,8,9,10,11,12]

In [ ]:
full_cxuser_list = make_full_user_list(cx_user,cx_asset)

In [ ]:
19*12

228

In [ ]:
len(full_cxuser_list)

228

In [ ]:
print(full_cxuser_list)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12]

In [ ]:
full_cxrating_list = list(np.random.randint(6,size=len(full_cxuser_list)))

In [ ]:
print(full_cxrating_list)

[0, 0, 0, 3, 0, 4, 1, 4, 5, 4, 0, 0, 1, 1, 0, 3, 4, 1, 4, 4, 1, 2, 4, 2, 4, 2, 4, 0, 3, 4, 5, 0, 4, 4, 1, 0, 5, 2, 0, 3, 3, 1, 2, 5, 2, 0, 5, 5, 3, 4, 3, 3, 4, 0, 3, 3, 1, 3, 4, 5, 3, 0, 4, 1, 3, 0, 3, 2, 1, 3, 1, 0, 3, 5, 3, 0, 0, 4, 3, 0, 1, 1, 4, 1, 5, 5, 3, 1, 3, 0, 4, 2, 5, 0, 2, 4, 2, 2, 0, 5, 2, 2, 3, 0, 5, 0, 0, 2, 4, 3, 2, 5, 2, 3, 1, 2, 5, 0, 2, 4, 2, 5, 3, 0, 4, 1, 3, 2, 2, 4, 5, 3, 4, 0, 5, 2, 0, 5, 2, 3, 0, 0, 4, 2, 1, 2, 1, 0, 4, 4, 4, 4, 5, 0, 4, 5, 1, 1, 1, 2, 3, 0, 2, 2, 2, 3, 5, 4, 1, 2, 4, 1, 3, 2, 3, 5, 1, 0, 0, 5, 5, 3, 2, 1, 0, 2, 0, 4, 0, 2, 4, 5, 4, 5, 1, 1, 5, 2, 0, 2, 0, 0, 2, 1, 2, 5, 1, 5, 0, 0, 3, 4, 0, 3, 2, 3, 5, 1, 3, 0, 0, 1, 2, 2, 3, 0, 5, 0]

In [ ]:
len(full_cxrating_list)

228

In [ ]:
full_cxasset_list  = cx_asset *len(cx_user)

In [ ]:
print(full_cxasset_list)

[1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76, 1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76, 1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76, 1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76, 1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76, 1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76, 1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76, 1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76, 1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76, 1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76, 1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76, 1, 5, 9, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 49, 57, 70, 71, 74, 76]

In [ ]:
len(full_cxasset_list)

228

In [ ]:
user_cx_asset_ratings =  pd.DataFrame()

In [ ]:
user_cx_asset_ratings['uid'] = full_cxuser_list
user_cx_asset_ratings['asset_id'] = full_cxasset_list
user_cx_asset_ratings['Ratings'] =  full_cxrating_list

In [ ]:
user_cx_asset_ratings

     uid  asset_id  Ratings
0      1         1        0
1      1         5        0
2      1         9        0
3      1        12        3
4      1        14        0
..   ...       ...      ...
223   12        57        2
224   12        70        3
225   12        71        0
226   12        74        5
227   12        76        0

[228 rows x 3 columns]

In [ ]:
(user_cx_asset_ratings[user_cx_asset_ratings.uid==1]).shape

(19, 3)

In [ ]:
print((user_cx_asset_ratings['Ratings']==0).sum())

49

In [ ]:
print((user_cx_asset_ratings['Ratings']==1).sum())

32

In [ ]:
print((user_cx_asset_ratings['Ratings']==2).sum())

41

In [ ]:
user_cx_asset_ratings.Ratings[user_cx_asset_ratings['Ratings'] == 1] = 0

In [ ]:
print((user_cx_asset_ratings['Ratings']==0).sum())

81

In [ ]:
user_cx_asset_ratings

     uid  asset_id  Ratings
0      1         1        0
1      1         5        0
2      1         9        0
3      1        12        3
4      1        14        0
..   ...       ...      ...
223   12        57        2
224   12        70        3
225   12        71        0
226   12        74        5
227   12        76        0

[228 rows x 3 columns]

In [ ]:
occ = []
for i in cx_user:
    occ.append((user_cx_asset_ratings[user_cx_asset_ratings.uid==i]).shape[0])
print(set(occ))

{19}

In [ ]:
user_cx_asset_ratings[user_cx_asset_ratings.uid==11]

     uid  asset_id  Ratings
190   11         1        4
191   11         5        5
192   11         9        4
193   11        12        5
194   11        14        0
195   11        15        0
196   11        16        5
197   11        17        2
198   11        18        0
199   11        20        2
200   11        22        0
201   11        23        0
202   11        25        2
203   11        49        0
204   11        57        2
205   11        70        5
206   11        71        0
207   11        74        5
208   11        76        0

### AGILE

In [ ]:
ag_asset = list(df_reco.asset_id[df_reco.Domain=='Agile'])
ag_user = [n for n in range(13,25)]
full_aguser_list =  make_full_user_list(ag_user,ag_asset)
full_agrating_list = list(np.random.randint(6,size=len(full_aguser_list)))
full_agasset_list  = ag_asset *len(ag_user)

In [ ]:
len(ag_asset),ag_asset,len(ag_user),ag_user

(10,
 [2, 30, 31, 33, 34, 35, 36, 37, 43, 65],
 12,
 [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24])

In [ ]:
user_ag_asset_ratings =  pd.DataFrame()
user_ag_asset_ratings['uid'] = full_aguser_list
user_ag_asset_ratings['asset_id'] = full_agasset_list
user_ag_asset_ratings['Ratings'] =  full_agrating_list

In [ ]:
print((user_ag_asset_ratings['Ratings']==0).sum())

15

In [ ]:
print((user_ag_asset_ratings['Ratings']==1).sum())

19

In [ ]:
print((user_ag_asset_ratings['Ratings']==2).sum())

19

In [ ]:
user_ag_asset_ratings.Ratings[user_ag_asset_ratings['Ratings'] == 2] = 0

In [ ]:
user_ag_asset_ratings

     uid  asset_id  Ratings
0     13         2        0
1     13        30        3
2     13        31        1
3     13        33        0
4     13        34        3
..   ...       ...      ...
115   24        35        4
116   24        36        4
117   24        37        1
118   24        43        3
119   24        65        5

[120 rows x 3 columns]

In [ ]:
print((user_ag_asset_ratings['Ratings']==0).sum())

34

In [ ]:
occ = []
for i in ag_user:
    occ.append((user_ag_asset_ratings[user_ag_asset_ratings.uid==i]).shape[0])
print(set(occ))

{10}

In [ ]:
user_ag_asset_ratings[user_ag_asset_ratings.uid==17]

    uid  asset_id  Ratings
40   17         2        3
41   17        30        1
42   17        31        4
43   17        33        5
44   17        34        3
45   17        35        0
46   17        36        1
47   17        37        5
48   17        43        0
49   17        65        1

### AI

In [ ]:
ai_asset = list(df_reco.asset_id[df_reco.Domain=='AI'])
ai_user = [n for n in range(25,37)]
full_aiuser_list =  make_full_user_list(ai_user,ai_asset)
full_airating_list = list(np.random.randint(6,size=len(full_aiuser_list)))
full_aiasset_list  = ai_asset *len(ai_user)

In [ ]:
len(ai_asset),ai_asset,len(ai_user),ai_user

(8,
 [3, 7, 13, 38, 42, 54, 59, 69],
 12,
 [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36])

In [ ]:
user_ai_asset_ratings =  pd.DataFrame()
user_ai_asset_ratings['uid'] = full_aiuser_list
user_ai_asset_ratings['asset_id'] = full_aiasset_list
user_ai_asset_ratings['Ratings'] =  full_airating_list

In [ ]:
print((user_ai_asset_ratings['Ratings']==0).sum())

11

In [ ]:
print((user_ai_asset_ratings['Ratings']==1).sum())

22

In [ ]:
print((user_ai_asset_ratings['Ratings']==2).sum())

8

In [ ]:
user_ai_asset_ratings.Ratings[user_ai_asset_ratings['Ratings'] == 1] = 0

In [ ]:
user_ai_asset_ratings

    uid  asset_id  Ratings
0    25         3        0
1    25         7        3
2    25        13        5
3    25        38        0
4    25        42        0
..  ...       ...      ...
91   36        38        0
92   36        42        3
93   36        54        0
94   36        59        0
95   36        69        4

[96 rows x 3 columns]

In [ ]:
print((user_ai_asset_ratings['Ratings']==0).sum())

33

In [ ]:
occ = []
for i in ai_user:
    occ.append((user_ai_asset_ratings[user_ai_asset_ratings.uid==i]).shape[0])
print(set(occ))

{8}

In [ ]:
user_ai_asset_ratings[:12]

    uid  asset_id  Ratings
0    25         3        0
1    25         7        3
2    25        13        5
3    25        38        0
4    25        42        0
5    25        54        0
6    25        59        3
7    25        69        0
8    26         3        5
9    26         7        0
10   26        13        5
11   26        38        4

In [ ]:
user_ai_asset_ratings[user_ai_asset_ratings.uid==27]

    uid  asset_id  Ratings
16   27         3        0
17   27         7        5
18   27        13        4
19   27        38        4
20   27        42        3
21   27        54        4
22   27        59        0
23   27        69        4

### IOT

In [ ]:
iot_asset = list(df_reco.asset_id[df_reco.Domain=='IOT'])
iot_user = [n for n in range(37,49)]
full_iotuser_list =  make_full_user_list(iot_user,iot_asset)
full_iotrating_list = list(np.random.randint(6,size=len(full_iotuser_list)))
full_iotasset_list  = iot_asset *len(iot_user)

In [ ]:
len(iot_asset),iot_asset,len(iot_user),iot_user

(6,
 [4, 19, 41, 44, 50, 75],
 12,
 [37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48])

In [ ]:
user_iot_asset_ratings =  pd.DataFrame()
user_iot_asset_ratings['uid'] = full_iotuser_list
user_iot_asset_ratings['asset_id'] = full_iotasset_list
user_iot_asset_ratings['Ratings'] =  full_iotrating_list

In [ ]:
print((user_iot_asset_ratings['Ratings']==0).sum())

13

In [ ]:
print((user_iot_asset_ratings['Ratings']==1).sum())

8

In [ ]:
print((user_iot_asset_ratings['Ratings']==2).sum())

17

In [ ]:
user_iot_asset_ratings.Ratings.value_counts()

2    17
4    15
0    13
3    11
5     8
1     8
Name: Ratings, dtype: int64

In [ ]:
user_iot_asset_ratings.Ratings[user_iot_asset_ratings['Ratings'] == 2] = 0

In [ ]:
print((user_iot_asset_ratings['Ratings']==0).sum())

30

In [ ]:
user_iot_asset_ratings

    uid  asset_id  Ratings
0    37         4        4
1    37        19        0
2    37        41        5
3    37        44        3
4    37        50        0
..  ...       ...      ...
67   48        19        3
68   48        41        0
69   48        44        4
70   48        50        5
71   48        75        0

[72 rows x 3 columns]

In [ ]:
occ = []
for i in iot_user:
    occ.append((user_iot_asset_ratings[user_iot_asset_ratings.uid==i]).shape[0])
print(set(occ))

{6}

In [ ]:
user_iot_asset_ratings[user_iot_asset_ratings.uid==47]

    uid  asset_id  Ratings
60   47         4        0
61   47        19        4
62   47        41        4
63   47        44        4
64   47        50        1
65   47        75        0

### BigData

In [ ]:
bd_asset = list(df_reco.asset_id[df_reco.Domain=='BigData'])
bd_user = [n for n in range(49,61)]
full_bduser_list =  make_full_user_list(bd_user,bd_asset)
full_bdrating_list = list(np.random.randint(6,size=len(full_bduser_list)))
full_bdasset_list  = bd_asset *len(bd_user)

In [ ]:
len(bd_asset),bd_asset,len(bd_user),bd_user

(6,
 [6, 8, 47, 55, 61, 66],
 12,
 [49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60])

In [ ]:
user_bd_asset_ratings =  pd.DataFrame()
user_bd_asset_ratings['uid'] = full_bduser_list
user_bd_asset_ratings['asset_id'] = full_bdasset_list
user_bd_asset_ratings['Ratings'] =  full_bdrating_list
user_bd_asset_ratings.shape

(72, 3)

In [ ]:
user_bd_asset_ratings.Ratings.value_counts()

0    15
4    14
1    13
3    11
2    10
5     9
Name: Ratings, dtype: int64

In [ ]:
user_bd_asset_ratings.Ratings[user_bd_asset_ratings['Ratings'] == 1] = 0

In [ ]:
print((user_bd_asset_ratings['Ratings']==0).sum())

28

In [ ]:
user_bd_asset_ratings

    uid  asset_id  Ratings
0    49         6        2
1    49         8        0
2    49        47        0
3    49        55        4
4    49        61        3
..  ...       ...      ...
67   60         8        0
68   60        47        0
69   60        55        4
70   60        61        4
71   60        66        2

[72 rows x 3 columns]

In [ ]:
occ = []
for i in bd_user:
    occ.append((user_bd_asset_ratings[user_bd_asset_ratings.uid==i]).shape[0])
print(set(occ))

{6}

In [ ]:
user_bd_asset_ratings[user_bd_asset_ratings.uid==58]

    uid  asset_id  Ratings
54   58         6        0
55   58         8        3
56   58        47        0
57   58        55        5
58   58        61        5
59   58        66        4

### Cloud

In [ ]:
cd_asset = list(df_reco.asset_id[df_reco.Domain=='Cloud'])
cd_user = [n for n in range(61,73)]
full_cduser_list =  make_full_user_list(cd_user,cd_asset)
full_cdrating_list = list(np.random.randint(6,size=len(full_cduser_list)))
full_cdasset_list  = cd_asset *len(cd_user)

In [ ]:
len(cd_asset),cd_asset,len(cd_user),cd_user

(7,
 [10, 24, 27, 40, 60, 72, 73],
 12,
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72])

In [ ]:
user_cd_asset_ratings =  pd.DataFrame()
user_cd_asset_ratings['uid'] = full_cduser_list
user_cd_asset_ratings['asset_id'] = full_cdasset_list
user_cd_asset_ratings['Ratings'] =  full_cdrating_list
user_cd_asset_ratings.shape

(84, 3)

In [ ]:
user_cd_asset_ratings.Ratings.value_counts()

1    17
3    16
0    15
5    13
4    12
2    11
Name: Ratings, dtype: int64

In [ ]:
user_cd_asset_ratings.Ratings[user_cd_asset_ratings['Ratings'] == 2] = 0

In [ ]:
print((user_cd_asset_ratings['Ratings']==0).sum())

26

In [ ]:
user_cd_asset_ratings

    uid  asset_id  Ratings
0    61        10        1
1    61        24        1
2    61        27        5
3    61        40        1
4    61        60        1
..  ...       ...      ...
79   72        27        5
80   72        40        1
81   72        60        0
82   72        72        1
83   72        73        4

[84 rows x 3 columns]

In [ ]:
occ = []
for i in cd_user:
    occ.append((user_cd_asset_ratings[user_cd_asset_ratings.uid==i]).shape[0])
print(set(occ))

{7}

In [ ]:
user_cd_asset_ratings[user_cd_asset_ratings.uid==72]

    uid  asset_id  Ratings
77   72        10        4
78   72        24        5
79   72        27        5
80   72        40        1
81   72        60        0
82   72        72        1
83   72        73        4

### HR

In [ ]:
hr_asset = list(df_reco.asset_id[df_reco.Domain=='HR'])
hr_user = [n for n in range(73,85)]
full_hruser_list =  make_full_user_list(hr_user,hr_asset)
full_hrrating_list = list(np.random.randint(6,size=len(full_hruser_list)))
full_hrasset_list  = hr_asset *len(hr_user)

In [ ]:
len(hr_asset),hr_asset,len(hr_user),hr_user

(5, [11, 29, 45, 84, 85], 12, [73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84])

In [ ]:
user_hr_asset_ratings =  pd.DataFrame()
user_hr_asset_ratings['uid'] = full_hruser_list
user_hr_asset_ratings['asset_id'] = full_hrasset_list
user_hr_asset_ratings['Ratings'] =  full_hrrating_list
user_hr_asset_ratings.shape

(60, 3)

In [ ]:
user_hr_asset_ratings.Ratings.value_counts()

5    16
4    14
0    12
3     9
1     6
2     3
Name: Ratings, dtype: int64

In [ ]:
user_hr_asset_ratings.Ratings[user_hr_asset_ratings['Ratings'] == 1] = 0

In [ ]:
print((user_hr_asset_ratings['Ratings']==0).sum())

18

In [ ]:
user_hr_asset_ratings

    uid  asset_id  Ratings
0    73        11        5
1    73        29        0
2    73        45        3
3    73        84        3
4    73        85        4
5    74        11        5
6    74        29        5
7    74        45        4
8    74        84        4
9    74        85        0
10   75        11        0
11   75        29        4
12   75        45        0
13   75        84        5
14   75        85        2
15   76        11        5
16   76        29        0
17   76        45        3
18   76        84        5
19   76        85        0
20   77        11        4
21   77        29        4
22   77        45        4
23   77        84        0
24   77        85        4
25   78        11        0
26   78        29        5
27   78        45        0
28   78        84        3
29   78        85        2
30   79        11        5
31   79        29        0
32   79        45        3
33   79        84        3
34   79        85        0
35   80        11        3
36   80        29        0
37   80        45        4
38   80        84        4
39   80        85        0
40   81        11        5
41   81        29        5
42   81        45        3
43   81        84        4
44   81        85        5
45   82        11        0
46   82        29        4
47   82        45        3
48   82        84        5
49   82        85        5
50   83        11        0
51   83        29        5
52   83        45        5
53   83        84        0
54   83        85        0
55   84        11        4
56   84        29        2
57   84        45        4
58   84        84        0
59   84        85        5

In [ ]:
occ = []
for i in hr_user:
    occ.append((user_hr_asset_ratings[user_hr_asset_ratings.uid==i]).shape[0])
print(set(occ))

{5}

In [ ]:
user_hr_asset_ratings[user_hr_asset_ratings.uid==77]

    uid  asset_id  Ratings
20   77        11        4
21   77        29        4
22   77        45        4
23   77        84        0
24   77        85        4

### Industry

In [ ]:
id_asset = list(df_reco.asset_id[df_reco.Domain=='Industry'])
id_user = [n for n in range(85,101)]
full_iduser_list =  make_full_user_list(id_user,id_asset)
full_idrating_list = list(np.random.randint(6,size=len(full_iduser_list)))
full_idasset_list  = id_asset *len(id_user)

In [ ]:
len(id_asset),id_asset,len(id_user),id_user

(21,
 [21,
  26,
  28,
  32,
  39,
  46,
  48,
  51,
  52,
  53,
  56,
  62,
  63,
  67,
  68,
  77,
  78,
  79,
  80,
  81,
  83],
 16,
 [85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100])

In [ ]:
user_id_asset_ratings =  pd.DataFrame()
user_id_asset_ratings['uid'] = full_iduser_list
user_id_asset_ratings['asset_id'] = full_idasset_list
user_id_asset_ratings['Ratings'] =  full_idrating_list
user_id_asset_ratings.shape

(336, 3)

In [ ]:
user_id_asset_ratings.Ratings.value_counts()

0    67
2    60
3    58
4    56
5    48
1    47
Name: Ratings, dtype: int64

In [ ]:
user_id_asset_ratings.Ratings[user_id_asset_ratings['Ratings'] == 1] = 0

In [ ]:
user_id_asset_ratings.Ratings.value_counts()

0    114
2     60
3     58
4     56
5     48
Name: Ratings, dtype: int64

In [ ]:
user_id_asset_ratings

     uid  asset_id  Ratings
0     85        21        2
1     85        26        3
2     85        28        3
3     85        32        5
4     85        39        4
..   ...       ...      ...
331  100        78        2
332  100        79        0
333  100        80        0
334  100        81        5
335  100        83        0

[336 rows x 3 columns]

In [ ]:
occ = []
for i in id_user:
    occ.append((user_id_asset_ratings[user_id_asset_ratings.uid==i]).shape[0])
print(set(occ))

{21}

In [ ]:
user_id_asset_ratings[user_id_asset_ratings.uid==95]

     uid  asset_id  Ratings
210   95        21        0
211   95        26        0
212   95        28        3
213   95        32        4
214   95        39        0
215   95        46        3
216   95        48        2
217   95        51        5
218   95        52        0
219   95        53        2
220   95        56        0
221   95        62        0
222   95        63        0
223   95        67        0
224   95        68        3
225   95        77        0
226   95        78        0
227   95        79        3
228   95        80        0
229   95        81        3
230   95        83        0

### User-Asset-Rating-Dataframe

In [ ]:
print(user_cx_asset_ratings.shape[0])
print(user_ag_asset_ratings.shape[0])
print(user_ai_asset_ratings.shape[0])
print(user_iot_asset_ratings.shape[0])
print(user_bd_asset_ratings.shape[0])
print(user_cd_asset_ratings.shape[0])
print(user_hr_asset_ratings.shape[0])
print(user_id_asset_ratings.shape[0])

total_rows = user_cx_asset_ratings.shape[0]+user_ag_asset_ratings.shape[0]+user_ai_asset_ratings.shape[0]+user_iot_asset_ratings.shape[0] + user_bd_asset_ratings.shape[0] + user_cd_asset_ratings.shape[0]+ user_hr_asset_ratings.shape[0] + user_id_asset_ratings.shape[0]

print("total_rows",total_rows)

228
120
96
72
72
84
60
336
total_rows 1068

In [ ]:
rating = pd.concat([user_cx_asset_ratings, user_ag_asset_ratings, user_ai_asset_ratings, user_iot_asset_ratings, user_bd_asset_ratings,user_cd_asset_ratings,user_hr_asset_ratings,user_id_asset_ratings], ignore_index=True)

In [ ]:
rating

      uid  asset_id  Ratings
0       1         1        0
1       1         5        0
2       1         9        0
3       1        12        3
4       1        14        0
...   ...       ...      ...
1063  100        78        2
1064  100        79        0
1065  100        80        0
1066  100        81        5
1067  100        83        0

[1068 rows x 3 columns]

In [ ]:
rating[rating.uid==77]

     uid  asset_id  Ratings
692   77        11        4
693   77        29        4
694   77        45        4
695   77        84        0
696   77        85        4

In [ ]:
rating[rating.uid==27]

     uid  asset_id  Ratings
364   27         3        0
365   27         7        5
366   27        13        4
367   27        38        4
368   27        42        3
369   27        54        4
370   27        59        0
371   27        69        4

In [ ]:
rating.to_csv("/content/drive/MyDrive/Collaborative_Recommendation/rating_with_zero_v1.csv",index=False)

In [ ]:
rating.drop(rating[rating['Ratings']==0].index, inplace = True)

In [ ]:
rating.reset_index(drop=True,inplace=True)

In [ ]:
rating

     uid  asset_id  Ratings
0      1        12        3
1      1        15        4
2      1        17        4
3      1        18        5
4      1        20        4
..   ...       ...      ...
699  100        53        5
700  100        63        3
701  100        67        5
702  100        78        2
703  100        81        5

[704 rows x 3 columns]

In [ ]:
rating.to_csv("/content/drive/MyDrive/Collaborative_Recommendation/rating_without_zero_v1.csv",index=False)

In [ ]:
rating[rating.uid==77]

     uid  asset_id  Ratings
454   77        11        4
455   77        29        4
456   77        45        4
457   77        85        4

## Reading The Ratings

In [ ]:
rating_with_zero = pd.read_csv("/content/drive/MyDrive/Collaborative_Recommendation/rating_with_zero_v1.csv")
rating_without_zero = pd.read_csv("/content/drive/MyDrive/Collaborative_Recommendation/rating_without_zero_v1.csv")

In [ ]:
rating_with_zero.Ratings.value_counts()

0    364
3    193
4    180
5    165
2    122
1     44
Name: Ratings, dtype: int64

In [ ]:
rating_without_zero.Ratings.value_counts()

3    193
4    180
5    165
2    122
1     44
Name: Ratings, dtype: int64

In [ ]:
rating_without_zero.uid.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [ ]:
print(sorted(list(rating_without_zero.uid.unique())))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
print(sorted(list(rating_without_zero.asset_id.unique())))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85]

In [ ]:
print(len(sorted(list(rating_without_zero.asset_id.unique()))))

82

In [ ]:
print(sorted(list(df_reco.asset_id.unique())))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85]

In [ ]:
rating_without_zero.uid.value_counts()

91    16
88    16
98    15
7     15
94    15
      ..
46     2
59     2
66     2
83     2
52     2
Name: uid, Length: 100, dtype: int64

In [ ]:
rating_without_zero.uid.value_counts()[-10:]

25    3
49    3
41    3
55    3
54    3
46    2
59    2
66    2
83    2
52    2
Name: uid, dtype: int64